{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-4 border rounded p-3 shadow-sm">
        <h2>Sign in / <a href="{{ url_for('register') }}">Register</a></h2>
        <form action="" method="post" class="form mt-3">
            {{ form.hidden_tag() }}
            <div class="mb-3">
                {{ form.username.label(class="form-label") }}
                {{ form.username(size=32, class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.password.label(class="form-label") }}
                {{ form.password(size=32, class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>
</div>
{% endblock %}